<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.cz2006androidproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        //android:theme="@style/AppTheme"
        <activity
            android:name="Boundary.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Boundary.SearchView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="Boundary.Calendar"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name="Boundary.TravelPlanner"
            android:label="@string/title_activity_view_schedule" >
        </activity>
        <activity
            android:name="Boundary.ViewDetails"
            android:label="@string/title_activity_view_details" >
        </activity>
        <activity
            android:name="Boundary.ScheduleListView"
            android:label="@string/title_activity_schedule_list_view" >
        </activity>
        <activity
            android:name="Boundary.MapView"
            android:label="@string/title_activity_map_view" >
        </activity>
        <activity
            android:name="Boundary.PlanChoicesByTaxi"
            android:label="@string/title_activity_plan_choices_by_taxi" >
        </activity>
        <activity
            android:name="Boundary.PlanChoicesByPublicTransport"
            android:label="@string/title_activity_plan_choices_by_public_transport" >
        </activity>
        <activity
            android:name="Boundary.SearchResult"
            android:label="@string/title_activity_search_result" >
        </activity>
        <activity
            android:name=".ScheduleTabSwitch"
            android:label="@string/title_activity_schedule_tab_switch" >
        </activity>
    </application>

</manifest>
